/* AVOID DOUBLE CLICK SELECTING EVERYTHING */
.navbar, .graph-container  {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

/* NOTORIOUS BOOTSTRAP NAVBAR MARGIN PROBLEM */
.navbar {
  margin-bottom: 0;
}

/* NECESSARY FOR PLACING GRAPH-CONTAINER */
#graph-container {
  top: 65px;
  bottom: 30px;
  left: 0;
  right: 0;
  position: absolute;
}

/* TOOLTIP SHOULD BE SPACIOUS */
.sigma-tooltip {
  min-width: 300px;
}

/* AVOID CLICKING INTO WRONG THINGS. */
.sigma-tooltip.top {
  margin-top: -12px;
}
.sigma-tooltip.top > .arrow {
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
  border-top-color: #FFF;
  border-bottom-width: 0;
}

.sigma-tooltip.bottom {
  margin-top: 12px;
}
.sigma-tooltip.bottom > .arrow {
  left: 50%;
  top: -10px;
  margin-left: -10px;
  border-bottom-color: #FFF;
  border-top-width: 0;
}

.sigma-tooltip.left {
  margin-left: -12px;
}
.sigma-tooltip.left > .arrow {
  top: 50%;
  right: -10px;
  margin-top: -10px;
  border-left-color: #FFF;
  border-right-width: 0;
}

.sigma-tooltip.right {
  margin-left: 12px;
}
.sigma-tooltip.right > .arrow {
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border-right-color: #FFF;
  border-left-width: 0;
}

/* CONTEXT MENU */
.list-group {
    min-width: 240px  !important;
}

/* CONTEXT MENU: CLICKED */
a:visited {
    background-color: white !important;
}
a:hover {
    background-color: #EEE !important;
}

/* INPUT BOX BLACK GLOW */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) inset, 0 0 8px rgba(0, 0, 0, 0.0) !important;
  outline: 0 none !important;
}


/* BUTTON BLUE GLOW */
.btn:focus,.btn:active {
   outline: none !important;
}

/* MONO FONT */
body {
  font-family: 'Courier' !important;
}


/* LOADING SPINNER */
#spinner {
   position: absolute;
   left: 50%;
   top: 50%;
   height:60px;
   width:60px;
   margin:0px auto;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border-left:6px solid rgba(0,0,0,.15);
   border-right:6px solid rgba(0,0,0,.15);
   border-bottom:6px solid rgba(0,0,0,.15);
   border-top:6px solid rgba(0,0,0,.8);
   border-radius:100%;
   z-index: 99;
}

#overlay{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color: white;
  opacity:0.8; /* see below for cross-browser opacity */
  z-index:55;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}
